---
layout: default
title: Memo
---

{% assign html_pages_by_url = site.html_pages | sort: "url" %}

<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">Random memos</h2>
    <div class="tags-header-line"></div>
  </div>

  <div class="tags-clouds">
    {% assign last_category = "" %}
    {% for html_page in html_pages_by_url %}
      {% assign crumbs = html_page.url | split: '/' %}
      {% if crumbs[1] == "memo" and crumbs[2] %}
        {% assign category = crumbs[2] %}
        {% if category != last_category %}
    <a href="#{{ category }}">{{ category }}</a>
        {% endif %}
    {% assign last_category = category %}
      {% endif %}
    {% endfor %}
  </div>

  {% assign last_category = "" %}
  {% for html_page in html_pages_by_url %}
    {% assign crumbs = html_page.url | split: '/' %}
    {% if crumbs[1] == "memo" and crumbs[2] %}
      {% assign category = crumbs[2] %}
      {% if category != last_category %}
  <div class="tags-item" id="{{ category }}">
    {% include images/tags_item_icon.svg %}
    <h2 class="tags-item-label">{{ category }}</h2>
      {% endif %}

    <!-- list posts -->
    <a class="tags-post" href="{{ html_page.url | prepend: site.baseurl }}">
      <div>
        <span class="tags-post-title">{{ html_page.title }}</span>
        <div class="tags-post-line" />
      </div>
      <span class="tags-post-meta">
        {{ crumbs | last | split: "-" | slice: 0, 3 | join: "/" }}
      </span>
    </a>

      {% if category != last_category %}
  </div>
      {% endif %}
      {% assign last_category = category %}
    {% endif %}
  {% endfor %}
</div>
